
// INICIO PAGINA SOBRE NOSOTROS

.flexContainersobnos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;

    & .titulo{
      display: flex;
      flex-direction: column;
        font-size: 1.8rem;
        width: 100vw;
        height: 10%;
        text-align: center;
        background-color: #feecaa;
        
        }
    & .subtitulos{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        width: 100%;
        height: 10%;
        background: #feecaa;
        }

      & .containeracordion{
        width: 100%;
        top: 4rem;
        bottom: 4rem;
        justify-items: center;
      }

      & .bandoneon{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        height: auto;
        background-color: #feecaa;
        text-align: justify;
        font-size: 1.5rem;
        font-weight: 600;
        color: black;
        
        }
      
      & .bandoneon__Texto{
        font-size: 1.3rem;
        text-align: justify;
        background-image: linear-gradient(to right, #757F9A , #D7DDE8 );
      }

    & .sobreNosotrosfoto{
        align-content: center;
        margin-top: 4%;
        margin-bottom: 4%;
            
            }

      & .parrafo__Uno{
          @include parrafo();
      }

    & .parrafos{
        width: 80%;
        height: 40%;
        font-size: 1.3rem;
        text-align: justify;
        margin-top: 2%;
        margin-bottom: 2%;
        }

    & .mapaNosotros{
        width: 80vw;
        height: 40vh;
        margin-top: 3%;
        margin-bottom: 3%;
            
        }
      
    /* *******RESPONSIBE SOBRE NOSOTROS******** */
@media only screen and (max-width: 600px) {
    .mediaNosotros {
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;
        
    }
    .mediaImgnosotros{
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 90vw;
      height: 40vh;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    .mediaTitulo{
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;
      font-size: 150%;
      margin-top: 4%;
      margin-bottom: 4%;
     
    }
    .mediaSubtitulos{
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;
      font-size: 130%;
      margin-top: 4%;
      margin-bottom: 4%;
    }
    }
  }
